@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
320, 480, 768, 992, 1200 (Trae Best Practice)
640px, 768px, 1024px, 1280px, 1536px (Tailwind Default - sm, md, lg, xl, 2xl)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
